html {
  font-size: 14px;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

a {
  color: #5196a6;
  text-decoration: none !important;
}

a:hover {
  color: #407784;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.btn {
  background-color: #5196a6 !important;
  transition: 0.1s;
}

.btn:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
